/*
  Variables
*/

blue = #8aaee6
offwhite = #fafafa
lightgrey  = #EDEEED

html
  font-size 10px
  font-family sans-serif

p
  font-size 1.6rem
  line-height 1.5

h2
  text-align center
  font-weight 100
  font-size 3rem
  margin 1rem 0
  letter-spacing -1px
  text-shadow 0px 4px 0 rgba(18, 86, 136, 0.11)
  a
    color blue
    text-decoration none
    &:focus
      outline 0

h3
  @extend h2
  font-family billabong, 'billabongregular'
  font-size 3.5rem

.panel-group
  a
    cursor pointer
    padding 1rem 25%
    text-decoration none
    &:focus
      outline 0

a
  &:focus
    outline 0

.link
  &:hover, &:focus
    text-decoration none
    outline none

@font-face {
    font-family: 'billabongregular';
    src: url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot');
    src: url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff') format('woff'),
         url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf') format('truetype'),
         url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
