@import '_normalize.styl'
@import '_typography.styl'

body
  background offwhite
  padding 1rem

.left-sidebar
  margin-top 2rem

.grid
  display flex
  flex-wrap wrap
  max-width 100%
  margin 0 auto
  margin-top 2rem

.panel-group
  width 100%

.grid-item
  flex-basis 90%
  flex-grow 1
  flex-shrink 0
  margin 0 2rem 2rem 2rem
  padding 1rem
  border 1px solid lightgray
  background white
  box-shadow 0 0 0 5px rgba(0,0,0,0.03);
  position relative
  display flex
  justify-content space-between
  align-items center
  text-align center

.grid-item-collapse
  @extend .grid-item
  padding 0

.item-caption
  flex-basis 65%
  font-size 2rem
  a
    color tint(black, 40%)

.info-title
  border-bottom 1px solid lightgrey
  padding 0.5rem 0
  p
    font-size 1.2rem
    margin 0
  strong
    color blue
    margin-right 5px
  &:hover
    .remove-comment
      opacity 1
 
/*  
  Buttons  
*/

.control-buttons
  flex-basis: 35%
  display flex
  justify-content flex-end
    
button, .button
  border-radius 50vw
  border 2px solid lighten(grey, 90%)
  background none
  flex-basis 40%
  display inline-block
  line-height 1.5
  text-decoration none
  padding 5px
  text-align center
  font-size 1.5rem
  color blue
  transition all 0.2s
  box-sizing padding-box
  &:hover, &:focus
    border-color tint(blue, 40%)
    outline 0
    text-decoration none
  
.delete
  margin-left: 1rem
  color lighten(red, 50%)
  &:hover, &:focus
    border-color tint(red, 60%)

.add
  flex-basis 100%
  color lighten(rgb(20%, 80%, 60%), 10%)
  font-size 2rem
  &:hover, &:focus
    border-color tint(rgb(20%, 80%, 60%), 40%)